.gaming-library-card{
    flex:1 1 100%;

}

.gaming-library-card ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    padding:  calc(var(--padding-primary) /2 ) 0;
    flex-wrap: wrap;
    gap: 15px 10px;
    
}

.gaming-library-card h4 ,
.gaming-library-card span {
    font-size: 1rem;
}

.gaming-library-card span{
    color: rgb(78, 74, 74);
}

@media only screen and (max-width: 752px) {

    .gaming-library-card ul{
        background-color: var(--color-dark);
        border-radius: calc(var(--border-radius-primary) / 4);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: calc(var(--padding-primary) /2 );
        margin: calc( var(--margin-primary) / 5);
    }
    .gaming-library-card ul li,
    {
        flex: 1 25%;
        font-size: 14px;




    }
    .gaming-library-card-image{
        flex: 1  100% !important;

        
    }

    .gaming-library-card-image img{
        width: 100%;

        border-radius: calc(var(--border-radius-primary) / 4);
        margin-bottom: calc(var(--margin-primary) / 2);
    
            }

}


